
<div class="modal-dialog">
  <div class="modal-content">
    <img src={{restaurant.featured_image}} id="main_image" />
    <div id="details">
      <h1 id="name">{{restaurant.name}}</h1>
      <h3>Address:</h3>
      <p>
        {{restaurant.location.address}}
        {{restaurant.location.locality}}
        {{restaurant.location.city}}
      </p>
    </div>
    <div id="avg_score">
      <p>Average Score:</p>
      <h1>{{restaurant.user_rating.aggregate_rating}} / 5</h1>
    </div>
    <button id="view_map">View Map</button>
    <div id="review_carousel">
        
    </div>
    <button (click)="close()">Close</button>
  </div>
</div>