.box{
    width: 300px;
    height: 50px;
    margin-right: 5%;
    top: 3px;
    position: absolute;
    right: 0;
    display: block;
  }

.container-3{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  
  .container-3 input#search{
    width: 300px;
    height: 45px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
  }

  .container-3 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
 
 .container-3 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
 
 .container-3 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
 
 .container-3 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }

 .container-3 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 13px;
    z-index: 1;
    color: #4f5b66;
  
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }

  .container-3 input#search:focus, .container-3 input#search:active{
    outline:none; 
}

.container-3:hover .icon{
  margin-top: 16px;
  color: #93a2ad;

  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -moz-transform:scale(1.5); /* Firefox */
  -ms-transform:scale(1.5); /* IE 9 */
  -o-transform:scale(1.5); /* Opera */
   transform:scale(1.5);
  }

#collapse1pic{
    background-image: url("https://photos-3.dropbox.com/t/2/AABKdsXh3TpoU0go9tPm8VxZMFcK3wyGNy5ZqoR4UJ0hog/12/443044602/png/32x32/3/1503806400/0/2/coffee%20copy.png/ENybuskDGObMAiAHKAc/DzClP5Scl0ahWaoqMkAk6W5IQ4dXnm2mRVN2pdQbQgs?dl=0&size=1600x1200&size_mode=3");
    position: relative;
}


#collapse1pic:hover .actual-text{
    opacity: 0.8;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
}

#collapse2pic:hover .actual-text{
    opacity: 0.8;
    background-color: white;
    border-radius: 25px;
}

#collapse3pic:hover .actual-text{
    opacity: 0.8;
    background-color: white;
    border-radius: 25px;
}

#collapse4pic:hover .actual-text{
    opacity: 0.8;
    background-color: white;
    border-radius: 25px;
}

#collapse2pic{
    background-image: url("https://photos-2.dropbox.com/t/2/AADpPSFRNDo_f_DIX-DeSn0g8EFbs3EqQ8HSN08BUYNwjQ/12/443044602/png/32x32/3/1503806400/0/2/sky-tower-bungee.png/ENybuskDGObMAiAHKAc/wCz2_CntZGKpsTCywryV19CavYimjkt7Cq1PhharwOE?dl=0&size=1600x1200&size_mode=3");
    position: relative;
    
}

#collapse3pic{
    background-image: url("https://photos-2.dropbox.com/t/2/AAC2_MgumudVX-6fEIPFI1eoUDidIJBxx3IGhJrGRcyFuw/12/443044602/png/32x32/3/1503806400/0/2/bar1%20copy.png/ENybuskDGObMAiAHKAc/wvab0kvE60ucof_ITfyfHlsYUk65EhlA8ViK6NPqh5A?dl=0&size=1600x1200&size_mode=3");
    position: relative;
    
}

#collapse4pic{
    background-image: url("https://photos-2.dropbox.com/t/2/AAC_8kcWvZt-Lho7xBhAeSZebg-jXJ9LkOsIQhmtR64uGw/12/443044602/png/32x32/3/1503806400/0/2/Sydney_Harbour_Bridge_from_Circular_Quay.png/ENybuskDGObMAiAHKAc/27rZXQvFzVUXM3pwTuZMa8pThQhVoJ4ZDCo8ILknpik?dl=0&size=1600x1200&size_mode=3");
    position: relative;
    
}

.panel-resize{
    min-height: 30em;
}

.panel-heading .actual-text{
    color: black;
    opacity: 0;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0; 
    top: 200px;
    padding: 20px 50px;
    width: 280px;
    background-color: none;
    display: block;
    margin: 0 auto;
}

.panel-heading:hover .actual-text{
    visibility: visible;
}

.no-margin{
    margin: 0 auto;
}

.jumbotron {
    padding: 20px;
}

.container-resize{
    width: 100%;
    padding: 0;
}

.navbar{
    border: 0;
    border-radius: 0;
    margin: 0;
}